.container {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr;
  padding: var(--size-px-m);
  margin-bottom: var(--size-px-2xs);
  border-radius: var(--border-radius-default);
  background-color: #fff;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-200);
  border-radius: 8px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary-300);
}

.container::-webkit-scrollbar-thumb:active {
  background-color: var(--color-secondary-400);
}

.container::-webkit-scrollbar-track {
  border-radius: 8px;
}

.container::-webkit-scrollbar-track:hover {
  background-color: var(--color-primary-200);
}

@supports not selector(::-webkit-scrollbar) {
  .container {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary-400) var(--color-primary-200);
  }
}

.messageGroup {
  display: flex;
  flex-direction: column;
  gap: var(--size-px-3xs);
}

.messageGroup:first-child .date {
  margin-top: 0;
}

.date {
  margin: var(--size-px-3xl) auto var(--size-px-2xl) auto;
  padding: var(--size-px-2xs);
  border: 1px solid var(--color-primary-300);
  border-radius: 100px;
  color: var(--color-primary-800);
  font-size: var(--size-rem-s);
}

.message {
  width: max-content;
  max-width: 75%;
  padding: var(--size-px-s) var(--size-px-s);
  font-size: var(--size-rem-s);
  word-wrap: break-word;
}

.date + div > .message {
  margin-top: var(--size-px-l);
}

.sentMessage {
  border-radius: 24px 12px 12px 24px;
  background-color: var(--color-secondary-400);
  color: var(--color-primary-50);
  margin-left: auto;
}

.receivedMessage {
  border-radius: 12px 24px 24px 12px;
  background-color: var(--color-primary-200);
  color: var(--color-primary-900);
}

.receivedMessage + .sentMessage,
.date + .sentMessage {
  border-top-right-radius: 24px;
}

.sentMessage:has(+ .receivedMessage),
.sentMessage:last-child {
  border-bottom-right-radius: 24px;
}

.sentMessage + .receivedMessage,
.date + .receivedMessage {
  border-top-left-radius: 24px;
}

.receivedMessage:has(+ .sentMessage),
.receivedMessage:last-child {
  border-bottom-left-radius: 24px;
}

.placeholder {
  align-self: center;
  justify-self: center;
  color: var(--color-primary-200);
  font-size: var(--size-rem-l);
  font-weight: 600;
}
