.container {
  flex: 1;
  display: grid;
  padding: 24px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-200);
  border-radius: 8px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondary-300);
}

.container::-webkit-scrollbar-thumb:active {
  background-color: var(--color-secondary-400);
}

.container::-webkit-scrollbar-track {
  border-radius: 8px;
}

.container::-webkit-scrollbar-track:hover {
  background-color: var(--color-primary-200);
}

@supports not selector(::-webkit-scrollbar) {
  .container {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary-400) var(--color-primary-200);
  }
}

.messageGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.messageGroup:first-child .date {
  margin-top: 0;
}

.date {
  margin: 64px auto 24px auto;
  color: var(--color-primary-800);
  font-size: 1em;
}

.message {
  width: max-content;
  max-width: 75%;
  padding: 10px 14px;
  font-size: 1.1em;
  word-wrap: break-word;
}

.date + div > .message {
  margin-top: 32px;
}

.sentMessage {
  border-radius: 20px 10px 10px 20px;
  background-color: var(--color-secondary-400);
  color: var(--color-primary-50);
  margin-left: auto;
}

.receivedMessage {
  border-radius: 10px 20px 20px 10px;
  background-color: var(--color-primary-200);
  color: var(--color-primary-900);
}

.receivedMessage + .sentMessage,
.date + .sentMessage {
  border-top-right-radius: 20px;
}

.sentMessage:has(+ .receivedMessage),
.sentMessage:last-child {
  border-bottom-right-radius: 20px;
}

.sentMessage + .receivedMessage,
.date + .receivedMessage {
  border-top-left-radius: 20px;
}

.receivedMessage:has(+ .sentMessage),
.receivedMessage:last-child {
  border-bottom-left-radius: 20px;
}

.placeholder {
  align-self: center;
  justify-self: center;
  color: var(--color-primary-200);
  font-size: 32px;
  font-weight: 600;
}
