.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  max-width: 500px;
  height: max-content;
  padding: var(--size-px-2xl);
  border-radius: var(--border-radius-default);
  background-color: var(--color-primary-50);
}

.heading {
  margin-bottom: var(--size-px-l);
  font-size: var(--size-rem-l);
  text-align: center;
}

.inputWrapper {
  margin-bottom: var(--size-px-s);
}

.inputWrapper:last-of-type {
  margin-bottom: var(--size-px-l);
}

.buttonWrapper {
  margin-top: var(--size-px-l);
  margin-bottom: var(--size-px-m);
}

.trigger:active {
  background-color: var(--color-secondary-500);
}

.bottomText {
  color: var(--color-primary-700);
  font-size: var(--size-px-s);
  text-align: center;
}

.redirect {
  color: var(--color-secondary-400);
}
