.container {
  display: flex;
  gap: var(--size-px-2xs);
  width: 100%;
}

.inputBox,
.sendButton {
  display: flex;
  align-items: center;
  padding: var(--size-px-s);
  border: none;
  border-radius: var(--border-radius-default);
}

.inputBox {
  flex: 1;
  border: 2px solid var(--color-primary-50);
  background-color: var(--color-primary-50);
  outline: none;
  transition: box-shadow 0.2s ease-out;
  transition: border 0.2s ease-out;
  font-size: var(--size-rem-s);
}

.inputBox:focus {
  border: 2px solid var(--color-secondary-400);
  box-shadow: 0 0 12px -4px var(--color-secondary-400);
}

.sendButton {
  justify-content: center;
  background-color: var(--color-secondary-400);
  color: var(--color-primary-50);
  cursor: pointer;
  transition: opacity 0.2s ease-out;
}

.sendButton:hover {
  opacity: 0.9;
}

.sendButton:active {
  background-color: var(--color-secondary-500);
}
