.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--size-px-m);
  background-color: var(--color-primary-50);
  box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.2);
}

.info {
  margin-right: var(--size-px-m);
}
