.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.content {
  padding: var(--size-px-l);
  border-radius: var(--border-radius-default);
  background-color: var(--color-primary-50);
  opacity: 1;
}

.closeWrapper {
  display: flex;
  justify-content: end;
  margin-bottom: var(--size-px-s);
}

.close {
  height: 24px;
  border: none;
  background: none;
  color: var(--color-primary-700);
  cursor: pointer;
}
