.container {
  flex: 1;
  gap: var(--size-px-2xs);
  display: flex;
  flex-direction: column;
}

.listContainer {
  flex: 1;
  border-radius: var(--border-radius-default);
  background-color: var(--color-primary-50);
}

.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-300);
  border-radius: 8px;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-400);
}

.list::-webkit-scrollbar-thumb:active {
  background-color: var(--color-secondary-400);
}

.list::-webkit-scrollbar-track {
  border-radius: 8px;
}

.list::-webkit-scrollbar-track:hover {
  background-color: var(--color-primary-200);
}

@supports not selector(::-webkit-scrollbar) {
  .list {
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary-400) var(--color-primary-200);
  }
}

.header {
  padding: var(--size-px-l);
  padding-bottom: var(--size-px-m);
}

.title {
  margin-bottom: var(--size-px-l);
  font-size: var(--size-rem-m);
  font-weight: 700;
}

.dropdownSearchWrapper {
  display: flex;
  gap: var(--size-px-3xs);
}
