.container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 3;
  height: 100%;
  background: none;
}

.loaderErrorContainer {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-weight: 600;
  color: var(--color-primary-900);
}
