.button {
  min-width: 80px;
  border: none;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
}

.fillDefault {
  background-color: var(--color-secondary-400);
  color: var(--color-primary-50);
  transition: opacity 0.3s ease-out;
}

.fillDefault:hover {
  opacity: 0.8;
}

.fillDefault:active {
  background-color: var(--color-secondary-500);
}

.outlineDefault {
  border: 2px solid var(--color-secondary-400);
  background-color: var(--color-primary-50);
  color: var(--color-secondary-400);
  transition: background-color 0.3s ease-out;
}

.outlineDefault:hover {
  opacity: 0.8;
}

.outlineDefault:active {
  background-color: var(--color-secondary-200);
}

.fillDanger {
  background-color: var(--color-danger-800);
  color: var(--color-primary-50);
  transition: opacity 0.3s ease-out;
}

.fillDanger:hover {
  opacity: 0.8;
}

.fillDanger:active {
  opacity: 1;
  background-color: var(--color-danger-900);
}

.outlineDanger {
  border: 2px solid var(--color-danger-900);
  background-color: var(--color-primary-50);
  color: var(--color-danger-900);
  transition: background-color 0.3s ease-out;
}

.outlineDanger:hover {
  opacity: 0.8;
}

.outlineDanger:active {
  background-color: var(--color-danger-200);
}

.small {
  padding: var(--size-px-xs);
  font-size: var(--size-rem-s);
}

.medium {
  padding: var(--size-px-s) var(--size-px-m);
  font-size: var(--size-rem-s);
}

.large {
  padding: var(--size-px-m) var(--size-px-l);
  font-size: var(--size-rem-m);
}

.wide {
  width: 100%;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  pointer-events: none;
}
