* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary-50: #fff;
  --color-primary-100: #f2f2f2;
  --color-primary-200: #d9d9d9;
  --color-primary-300: #bfbfbf;
  --color-primary-400: #a6a6a6;
  --color-primary-500: #8c8c8c;
  --color-primary-600: #737373;
  --color-primary-700: #595959;
  --color-primary-800: #404040;
  --color-primary-900: #262626;
  --color-primary-950: #0d0d0d;

  --color-secondary-100: #dbdefa;
  --color-secondary-200: #aeb5f4;
  --color-secondary-300: #818dee;
  --color-secondary-400: #273be2;
  --color-secondary-500: #192bbd;
  --color-secondary-600: #132190;
  --color-secondary-700: #0d1663;

  --size-rem-3xs: 0.25rem;
  --size-rem-2xs: 0.5rem;
  --size-rem-xs: 0.75rem;
  --size-rem-s: 1rem;
  --size-rem-m: 1.5rem;
  --size-rem-l: 2rem;
  --size-rem-xl: 3rem;
  --size-rem-2xl: 4rem;
  --size-rem-3xl: 8rem;

  --size-px-3xs: 4px;
  --size-px-2xs: 8px;
  --size-px-xs: 12px;
  --size-px-s: 16px;
  --size-px-m: 24px;
  --size-px-l: 32px;
  --size-px-xl: 48px;
  --size-px-2xl: 64px;
  --size-px-3xl: 128px;

  --border-radius-default: 16px;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-primary-100);
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 32px;
}
